!!!
%html
  %head
    %meta{:name=>'pdfkit-page_size', :content=>'A4'}
  %body
    .container
      %table
        %thead
          %tr
            %th{:style=>'width: 15%'} Datum
            %th{:style=>'width: 15%'} Användare
            %th{:style=>'width: 10%'} Aktivitet
            %th{:style=>'width: 20%'} Ämne
            %th{:style=>'width: 5%'} Timmar
            %th{:style=>'width: 35%'} Kommentar
        %tfoot
          %tr
            %td Total
            %td
            %td
            %td
            %td.text-right= @project.collect {|p| p['hours'].to_f}.inject(:+)
            %td
        %tbody
          -@project.each do |p|
            -issue = @issues.select {|i| i['id'] == p['issue']['id']}.first
            %tr
              %td= Date.parse(p['spent_on']).strftime("%Y-%m-%d")
              %td= p['user']['name']
              %td= p['activity']['name']
              %td= issue ? issue['subject'] : ''
              %td.text-right= p['hours']
              %td= p['comments']
